<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${appName}">Доступні сеанси</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Список доступних сеансів</h1>
    <div th:if="${!sessions.isEmpty()}">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Назва фільму</th>
                <th>Дата сеансу</th>
                <th>Зал</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ses : ${sessions}">
                <td th:text="${ses.title}">Назва</td>
                <td th:text="${#temporals.format(ses.date, 'dd-MM-yyyy HH:mm')}">Час</td>
                <td th:switch="${ses.hallNumber}">
                    <span th:case="'1'" class="badge bg-success fs-6" th:text="'Зал №' + ${ses.hallNumber} + ' (VIP)'"></span>
                    <span th:case="'5'" class="badge bg-success fs-6" th:text="'Зал №' + ${ses.hallNumber} + ' (VIP)'"></span>
                    <span th:case="*" class="badge bg-secondary fs-6" th:text="'Зал №' + ${ses.hallNumber}"></span>
                </td>
                <td><a href="#" class="btn btn-primary">Замовити квиток</a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:unless="${!sessions.isEmpty()}" class="alert alert-info mt-3">
        <h4>Список сеансів порожній</h4>
        <p>На даний момент немає жодного сеансу.</p>
    </div>
    <a href="/admin/sessions" class="btn btn-secondary mt-3">Панель адміністратора</a>
</div>
</body>
</html>