<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель адміністратора</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-4">
    <h1>Керування сеансами</h1>
    <a href="/admin/sessions/new" class="btn btn-success mb-3">Додати новий сеанс</a>
    <div th:if="${!sessions.isEmpty()}">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Назва фільму</th>
                <th>Дата сеансу</th>
                <th>Зал</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ses : ${sessions}">
                <td th:text="${ses.id}">1</td>
                <td th:text="${ses.title}">Назва фільму</td>
                <td th:text="${#temporals.format(ses.date, 'dd-MM-yyyy HH:mm')}">Час</td>
                <td th:switch="${ses.hallNumber}">
                    <span th:case="'1'" class="badge bg-success fs-6" th:text="'Зал №' + ${ses.hallNumber} + ' (VIP)'"></span>
                    <span th:case="'5'" class="badge bg-success fs-6" th:text="'Зал №' + ${ses.hallNumber} + ' (VIP)'"></span>
                    <span th:case="*" class="badge bg-secondary fs-6" th:text="'Зал №' + ${ses.hallNumber}"></span>
                </td>

                <td>
                    <a th:href="@{/admin/sessions/edit/{id}(id=${ses.id})}" class="btn btn-warning btn-sm">Редагувати</a>
                    <a th:href="@{/admin/sessions/delete/{id}(id=${ses.id})}" class="btn btn-danger btn-sm">Видалити</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:unless="${!sessions.isEmpty()}" class="alert alert-info mt-3">
        <h4>Список сеансів порожній</h4>
        <p>На даний момент немає жодного сеансу.</p>
    </div>

    <a href="/sessions" class="btn btn-secondary mt-3">Перейти на сторінку гостя</a>
</div>
</body>
</html>